# Visual Studio standard ignore
.vs/
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# Project specific
PublishOutput/
PublishSelfContained/
*.log
*.txt
!build_err.txt

ReleaseOutput*/
D2RMultiplay_v*/
*.zip

# Sensitive Data
accounts.json
